body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    height: 8%;
    background-color: blanchedalmond;
    font-size: 6vmin;
    display: flex;
    align-items: center;
}

header div {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    justify-items: center;
}

main {
    flex: 1 1 auto;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-stopped {
    background-color: gray;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 16vmin;
    box-sizing: border-box;
}


.question {
    border-bottom: 12px solid black;
    padding: 8px;
    padding-right: 0;
}

.question-wrong {
    color: red;
}

.answer {
    text-align: right;
}

footer {
    height: 8%;
    background-color: beige;
    font-size: 4vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro {
    height: 8%;
    background-color: azure;
    font-size: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-icon {
    margin: 12px;
    color: black;
}