body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    height: 8%;
    background-color: blanchedalmond;
    font-size: 6vmin;
    display: flex;
    justify-content: center;
    justify-items: center;
}

main {
    flex: 1 1 auto;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-stopped {
    background-color: gray;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 16vmin;
    box-sizing: border-box;
}


.question {
    border-bottom: 12px solid black;
    padding: 8px;
    padding-right: 0;
}

.question-wrong {
    color: red;
}

.answer {
    text-align: right;
}

footer {
    height: 8%;
    background-color: beige;
    font-size: 4vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.numpad {
    margin: 6px;
    align-self: center;
    height: 40vh;
    width: 95%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto 8vh;
}

button {
    box-shadow: 4px;
    margin: 2px;
    border: 0;
    border-radius: 8px;
    font-size: 2em;
    font-weight: bold;
}

button#submit {
    grid-column-start: 1;
    grid-column-end: 4;
    width: auto;
}

.github-icon {
    margin: 12px;
    color: black;
    align-self: flex-end;
    font-size: 3em;
}